body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
  border: none;
  border-radius: 16px;
  padding: 4px 16px;
}

.button:hover {
  background-color: #ff7fff;
  color: #fff;
  cursor: pointer;
}

.title {
  color: #666;
  font-weight: bold;
  margin-top: 0;
  text-align: center;
}

.list__row {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-bottom: 4px;
}

.list__title {
  margin-right: 8px;
}

.input-area {
  background-color: #c1ffff;
  height: 30px;
}

.input-area__input {
  border: none;
  border-radius: 16px;
  outline: none;
  padding: 6px 16px;
}

.imcomplete-area {
  background-color: #c6ffe2;
}

.complete-area {
  background-color: #ffffe0;
}

.imcomplete-area,
.complete-area {
  min-height: 200px;
}

.input-area,
.imcomplete-area,
.complete-area {
  border-radius: 8px;
  margin: 8px;
  padding: 8px;
  width: 400px;
}